$footer-bp: 600px;

.footer {
	background: #f1f1f1;
	border-top: 1px solid #e0e0e0;
}

.footer_inner {
	padding: 25px 33px;
	position: relative;
	
	@include media-query($footer-bp) {
		padding-bottom: 35px;
		padding-top: 15px;
	}
}

.connect {
	@include media-query($footer-bp) {
		bottom: 5px;
		position: absolute;
	}
}

.connect_heading {
	font-size: 22px;
	margin-bottom: 17px;
	text-align: center;
	
	@include media-query($footer-bp) {
		display: inline-block;
		font-size: 14px;
		margin-bottom: 0;
		vertical-align: middle;
	}
}

.connect_grid_container {
	margin-bottom: 0;
	
	@include media-query($footer-bp) {
		display: inline-block;
		margin-left: 12px;
		vertical-align: middle;
	}
}

.connect_list {
	li {
		@include media-query($footer-bp) {
			display: inline-block;
			float: none;
			margin-bottom: 0;
			margin-left: 12px;
			padding-left: 0;
			width: auto;
		}
	}
	
	a {
		background: #e0e0df;
		@include border-radius(6px);
		display: inline-block;
		height: 46px;
		line-height: 60px;
		margin: auto;
		text-align: center;
		width: 46px;
		
		@include hover {
			background: darken(#e0e0df, 10%);
			
			@include icomoon {
				color: $text-color;
			}
		}
		
		@include media-query($footer-bp) {
			height: 25px;
			line-height: 26px;
			width: 25px;
		}
	}
	
	@include icomoon {
		color: #666;
	}
	
	.icon-facebook {
		font-size: 31px;
		
		@include media-query($footer-bp) {
			font-size: 15.5px;
		}
	}
	
	.icon-twitter {
		font-size: 27px;
		
		@include media-query($footer-bp) {
			font-size: 13.5px;
		}
	}
	
	.icon-gplus {
		font-size: 27px;
		
		@include media-query($footer-bp) {
			font-size: 13.5px;
		}
	}
	
	.icon-pinterest {
		font-size: 30px;
		
		@include media-query($footer-bp) {
			font-size: 15px;
		}
	}
}

.contentinfo_list {
	border-top: 1px solid #dedede;
	padding: 14px 0;
	
	@include media-query($footer-bp) {
		border-top: none;
		display: inline-block;
		padding: 0 0 5px;
	}
	
	li {
		@include media-query($footer-bp) {
			display: inline-block;
			
			&:first-child {
				a {
					padding-left: 0;
					
					&:before {
						display: none;
					}
				}
			}
		}
	}
	
	a {
		background: #e2e2e2;
		@include border-radius(5px);
		color: #565656;
		display: block;
		margin: 14px 18px;
		padding: 9px;
		text-align: center;
		
		@include hover {
			background: darken(#e0e0df, 10%);
			color: $text-color;
		}
		
		@include media-query($footer-bp) {
			background: none;
			display: inline-block;
			margin: 0;
			position: relative;
			
			&:before {
				color: #eaeaea;
				content: '|';
				left: -6px;
				position: absolute;
			}
			
			@include hover {
				background: none;
				text-decoration: underline;
			}
		}
	}
}

.copyright {
	color: #808080;
	@include font-size-line-height(13px, 16px);
	text-align: center;
	
	@include media-query($footer-bp) {
		text-align: left;
	}
}