.nav_sub_toggler {
	background: #eaeaea;
	@include border-radius(6px);
	padding: 13px 6px;
	
	h3 {
		font-size: 23px;
		margin-bottom: 0;
		text-align: center;
		
		&:after {
			content: '+';
			display: inline-block;
			margin-left: 5px;
			text-align: center;
			width: 10px;
		}
	}
	
	&.is_open {
		@include border-radius(6px 6px 0 0);
		
		h3 {
			&:after {
				content: '–';
			}
		}
	}
	
	@include media-query($tablet-bp) {
		display: none !important;
		
		+ .accordion_content {
			height: auto !important;
		}
	}
}

.nav_sub {
	font-size: 20px;
	
	li {
		border-bottom: 1px solid #e3e3e3;
	}
	
	a {
		background: #f7f7f7;
		color: #777;
		font-size: 20px;
		padding: 11px 17px;
		
		@include hover {
			background: #fff;
		}
		
		@include media-query($tablet-bp) {
			border-right: 2px solid #ebebeb;
		}
	}
	
	.current a {
		background: #fff;
		color: $red;
		
		@include media-query($tablet-bp) {
			border-right-color: transparent;
		}
	}
}
