$reviews-major-bp: 1100px;

.theme_detail {
	position: relative;
	z-index: 1;
	
	@include media-query($tablet-bp) {
		min-height: 1300px;
		padding-right: 330px;
	}
	
	@include media-query($desktop-bp) {
		padding-left: 240px;
	}
}

.theme_detail_info {
	color: #777;
	font-size: 17px;
	
	@include media-query($tablet-bp) {
		position: absolute;
		right: 0;
		top: 0;
		width: 290px;
	}
}

.theme_detail_btn_price, .theme_detail_btn_demo {
	@include border-radius(7px);
	display: block;
	margin-bottom: 17px;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	text-align: center;
}

.theme_detail_btn_price {
	font-size: 31px;
	line-height: 55px;
	
	.per {
		font-size: 17px;
	}
}

.theme_detail_btn_demo {
	background: #eaeaea;
	border-color: #eaeaea;
	color: #777 !important;
	line-height: 60px;
	font-size: 23px;
	
	@include hover {
		background: darken(#eaeaea, 10%);
		border-color: darken(#eaeaea, 10%);
	}
}

.theme_detail_likes_to_rate {
  border-top: 1px solid #eaeaea;
  padding-top:15px;
  p{
	margin:0;
	text-align: center;
	background: #f1f1f1;
	padding: 8px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 25px;
  }
}

span.avatar{
  display:inline-block;
  padding:2px;
  border-radius: 4px;
  background:#d1d1d1;

  &:first-of-type{
	margin-left:15px;
  }
  img{
	border-radius: 4px;
  }
}

.theme_detail_share {
	padding-top: 17px;
	
	a {
		background: #e0e0df;
		@include border-radius(6px);
		display: inline-block;
		height: 40px;
		line-height: 50px;
		margin: auto;
		text-align: center;
		text-decoration: none;
		width: 40px;
		
		@include hover {
			background: darken(#e0e0df, 10%);
			
			@include icomoon {
				color: $text-color;
			}
		}
		
		@include media-query($tablet-bp) {
			height: 35px;
			line-height: 39px;
			width: 35px;
		}
	}
	
	@include icomoon {
		color: #666;
		font-size: 25px;
		
		@include media-query($tablet-bp) {
			font-size: 18px;
		}
	}
}

.theme_detail_meta_accordion {
	@include media-query($tablet-bp) {
		height: auto !important;
		position: absolute;
		right: 0;
		top: 306px;
		width: 290px;
	}
}

.theme_detail_meta_accordion_toggler_btn {
	@include media-query($tablet-bp) {
		display: none;
	}
}

.theme_detail_meta {
	@include media-query($tablet-bp) {
		height: auto !important;
	}
}

.theme_detail_meta_item {
	@extend %clearfix;
	
	border-top: 1px solid #eaeaea;
	
	.theme_detail_meta & {
		padding: 10px 0 12px;
	}
}

.theme_detail_meta_item_heading, .theme_detail_meta_item_value {
	font-size: 17px;
	line-height: em(22px, 17px, true);
	margin: 0;
}

.theme_detail_meta_item_heading {
	color: #777;
	float: left;
	
	&:after {
		content: ' -';
	}
}

.theme_detail_meta_item_value {
	overflow: hidden;
	padding-left: 5px;
	
	li:last-child {
		margin-bottom: 0;
	}
}

.theme_detail_meta_item_value_btn {
	font-size: 14px;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.theme_detail_meta_item_performance {
	li {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 235px;
	}
}

.theme_detail_heading {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 19px;
	position: relative;
	
	h1 {
		padding-right: 70px;
	}
}

.theme_detail_reviews_accordion_toggler_btn {
	@include media-query($reviews-major-bp) {
		display: none;
	}
}

.theme_detail_reviews {
	@include media-query($reviews-major-bp) {
		border-top: 1px solid #eaeaea;
		height: auto !important;
	}
}

.theme_detail_reviews_item {
	margin: 30px 0;
	
	@include media-query($reviews-major-bp) {
		margin: 50px 0;
		padding-left: 73px;
	}
}

.theme_detail_reviews_meta {
	@extend %clearfix;
	
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 14px;
	min-height: 44px;
	padding: 0 0 6px 60px;
	position: relative;
	
	.theme_detail_reviews_form & {
		border: 1px solid #eaeaea;
		@inlcude border-radius(3px 0);
		margin-bottom: 0;
		min-height: 42px;
		padding: 10px 15px 12px 60px;
	}

	@include media-query($reviews-major-bp) {
		min-height: 35px;
		padding-left: 0;
	
		.theme_detail_reviews_form & {
			min-height: 0;
			padding: 10px 15px 12px;
		}
	}
	
}

.theme_detail_reviews_avatar {
	background: #e9e9e9;
	@include border-radius(5px);
	height: 35px;
	left: 8px;
	padding: 3px;
	position: absolute;
	top: 3px;
	width: 35px;
	
	.theme_detail_reviews_form & {
		top: 12px;
	}
	
	@include media-query($reviews-major-bp) {
		height: 50px;
		left: -73px;
		padding: 5px;
		width: 50px;
		
		.theme_detail_reviews_form & {
			top: -1px;
		}
	}
	
}

.theme_detail_reviews_user {
	font-size: 18px;
	margin-bottom: 6px;
	
	@include media-query-and(650px, $tablet-bp - 1px) {
		float: left;
	}
	
	@include media-query($reviews-major-bp) {
		float: left;
	}
}

.theme_detail_reviews_signin {
	color: #a5a5a5;
	font-size: 15px;
	margin-bottom: 0;
}

.theme_detail_reviews_date {
	color: #a5a5a5;
}

.theme_detail_reviews_rating {
	color: #707070;
	margin-bottom: 0;
	
	@include media-query-and(650px, $tablet-bp - 1px) {
		float: right;
	}
	
	@include media-query($reviews-major-bp) {
		float: right;
	}
}

.theme_detail_reviews_content_area {
	color: #707070;
}